<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="Services.MeteoService">
				<endpoint contract="ServicesContract.IMeteoService" 
						  binding="netTcpBinding" 
						  address="net.tcp://localhost:12345/ServicesContract.IMeteoService" />
				
			</service>
		</services>
	</system.serviceModel>
</configuration>